<div class="page inventory">
    <div class="container">
        <div class="row">
            <h2 class="page-title">Inventory</h2>
        </div>
        <div class="spacer"></div>
        <div class="row">
            <div class="col-sm-6 inventory-list">
                <div class="table-responsive">
                    <table #dataTable class="table display table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Model</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of inventoryList;index as i" (click)="showDetails(item)">
                                <td>{{i+1}}</td>
                                <td>{{item.name}}</td>
                            </tr>

                            <tr *ngIf="inventoryList && inventoryList.length === 0">
                                <td>Inventory List appears here</td>    
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="spacer"></div>
                <div class="row" *ngIf="inventoryList && inventoryList.length > 0">
                    <div class="col-sm-6">
                        <div class="pagination-info">{{pagination.info()}}</div>
                    </div>
                    <div class="col-sm-6 text-right">
                        <ul class="pagination pagination-lg">
                            <li *ngFor="let item of pagination.iterator; index as i"
                                [ngClass]="{'active': (i+1)==pagination.current}">
                                <a (click)="getList(i+1)" href="javascript:void(0)">{{i+1}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="carModelDetails" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Car Model Details</h4>
            </div>
            <div class="modal-body">
                <div id="car-images" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active" [style.backgroundImage]="'url('+ selectedCar.image1 +')'"></div>
                        <div class="item" [style.backgroundImage]="'url('+ selectedCar.image2 +')'"></div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#car-images" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car-images" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="spacer"></div>
                <div class="row">
                    <div class="col-sm-6 info">
                        <div class="info-label">Car Model:</div>
                        <div class="info-value">{{selectedCar.name}}</div>
                    </div>
                    <div class="col-sm-6 info">
                        <div class="info-label">Manufacturer:</div>
                        <div class="info-value">{{selectedCar.manufacturer}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 info">
                        <div class="info-label">Color:</div>
                        <div class="info-value">{{selectedCar.color}}</div>
                    </div>
                    <div class="col-sm-6 info">
                        <div class="info-label">Manufacturing Year:</div>
                        <div class="info-value">{{selectedCar.year}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 info">
                        <div class="info-label">Reg No.:</div>
                        <div class="info-value">{{selectedCar.regno}}</div>
                    </div>
                    <div class="col-sm-6 info">
                        <div class="info-label">Note:</div>
                        <div class="info-value">{{selectedCar.note || 'N/A'}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" (click)="markSold()">Mark as Sold</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>