@import '../../../assets//scss/variables';
@import '../../../assets/scss/media';
@import '../../../assets/scss/mixins';

header{
    width: 100%;
    display: table;
    height: $header-height;
    background: $primary-color;
    .logo{
        display: table-cell;
        vertical-align: bottom;
        width: 100px;
        padding: 4px;
        cursor: pointer;
        img{
            display: inline-block;
            height: 42px;
            width: auto;
            margin: 0 2px; 
            @include transition(all 300ms ease);
            animation: caranim 2s infinite;  
        }
        span{
            display: inline-block;
            vertical-align: middle;
            letter-spacing: 6px;
            color: #fff;
            font-size: 36px;
            line-height: 1;
            font-weight: bold;
            @include sm{
                font-size: 26px;
            }
        }
    }
}