<div class="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="cell" routerLink="/manufacturer">
                    <img src="assets/images/car-manufacturing.png" alt="car-manufacturing">
                    <h3>Manufacturers</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="cell" routerLink="/model">
                    <img src="assets/images/car-model.png" alt="car-model">
                    <h3>Add Model</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="cell" routerLink="inventory">
                    <img src="assets/images/car-inventory.png" alt="car-inventory">

                    <h3>Inventory</h3>
                </div>
            </div>
        </div>
    </div>
</div>